// Navigation code here
.navigation-bar * {
    border: 1px red solid !important;
}

.navigation-bar h1 {
  padding:1%;
  margin:auto;
  text-align: center;
}

.navigation {
    .flex-default();


    nav {
        width: 50%;
        .flex-default();
        padding-bottom:1%;
        
        a {
            color: @nav-font;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }


}